<html>
<head>
@font-face {
  font-family: 'Iconsolata'; /* The name you choose to use in your CSS */
  src: local("Inconsolata_Expanded-Regular.ttf"); /* Name of the font as installed on the user's system */
}
</head> 
<style>
}
@font-face {
  font-family: 'Iconsolata'; /* The name you choose to use in your CSS */
  src: local("Inconsolata_Expanded-Regular.ttf"); /* Name of the font as installed on the user's system */
}
body {
    margin: 0;
    padding: 0px;
    font-family: 'Inconsolata', sans-serif;
    position: fixed;
    text-align: center;
}

.main-header {
    background-color: #000000;
    font-family: 'Inconsolata', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.main-nav ul {
    list-style: none;
    font-family: 'Inconsolata', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav ul li a {
    color: white;
    font-family: 'Inconsolata', sans-serif;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.main-nav ul li a: hover {
    background-color: #333; 
}
.aboutus {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-family: 'Inconsolata', sans-serif;
    text-align: center;
    
}
.search-container input[type=text] {
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px; /* Rounded corners on left */
    outline: none; /* Removes the default focus glow */
}

.search-container button {
    padding: 8px 15px;
    background-color: #000000; /* Button color */
    color: white;
    border: none;
    border-radius: 0 4px 4px 0; /* Rounded corners on right */
    cursor: pointer;
}

.search-container button:hover {
    background-color: #333;
}

</style>
</html>
