<html>
<head>
<link rel="stylesheet" href="mystyle.css">
<style>
body {
  background-color: lightgrey;
}

h1 {
  color: white;
  text-align: center;
  font-family: Brush Script MT;
}

p {
  font-family: Brush Script MT;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>My First CSS Example</h1>
<p>This is a paragraph.</p>

</body>
</html>
