<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
<style>
body {
    margin: 0;
    padding: 20px;
    font-family:"Inconsolata", sans-serif;
    position: fixed;
    text-align: center;
}

.main-header {
    background-color: #000000;
    color: white;
    display: flex;=
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.main-nav ul li a: hover {
    background-color: #333; 
}
.image-container {
  position: fixed; 
  width: 100%;
  text-align: center; 
  margin-top: 100px;
  margin-bottom: 100px
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: img scr="cafe.jpg";
  min-height: 75%;
}

.overlay-text {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; 
  text-align: center;
  color: white; 
  font-size: 24px;
}

</style>
</head>
</html>
