<html>
<head>
<style>
/* Hex Codes: #6C1B24, #C37B81, #8C3E4D, #FEFADC, #F4F0C6, #CDCDCD */
body {
  background-color: #CDCDCD;
}

h1 {
  color: #F4F0C6;
  font-family: Helvetica;
  background-color: #8C3E4D
}

p {
 color: #FEFADC;
 font-family: Helvetica;
 background-color: #C37B81;
</style>
</head>
<body>

<h1>This is a Heading</h1>
<p>This page has a grey background color and a blue text.</p>

</body>
</html>

